@define-mixin atSmall {
  @media (min-width: 530px) {
    @mixin-content;
  }
}

@define-mixin atMedium {
  @media (min-width: 800px) {
    @mixin-content;
  }
}

@define-mixin atLarge {
  @media (min-width: 1010px) {
    @mixin-content;
  }
}

@define-mixin clearfix {
  &::after {
    content: "";
    clear: both;
    display: table;
  }
}



@define-mixin beforeGlow $color: $colorOffWhite {
    &::before {
        content: "";
        z-index: -1;
        background-color: $color;
        height: 110%;
        width: 110%;
        border-radius: 50%;
        position: absolute;
        top: -5%;
        left: -5%;
        filter: blur(40px);
    }
}
