@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Roboto:400,700');
/*Vendors*/
/* @import "normalize.css"; */
/*Base*/
/*COLORS*/
/* $colorAccent01: #AFC584; */
/*STRUCTURE*/
/* $strucBannerMaxHeight: 6rem; */
/* $strucBannerMinHeight: 3.5rem; */
*,
section * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* color: $colorTextMain; */
}
a {
    color: #445E3B;
}
a.is-active {
        color: #8CAF98;
    }
p {
    line-height: 1.7;
}
* {
    font-family: 'Roboto', 'Ariel', sans-serif;
}
h1 {
    font-family: 'Gloria Hallelujah', cursive;
}
/*modules*/
.block--constrain-width {
        max-width: 80rem;
        margin-left: auto;
        margin-right: auto;
    }
.block--constrain-width--narrower {
        max-width: 50rem;
        margin-left: auto;
        margin-right: auto;
    }
.block--centered-text {
        text-align: center;
    }
.block--center-vert {
        position: relative;
        top: 50%;
        -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
    }
.block--background-glow::before {
        content: "";
        z-index: -1;
        background-color: #F0F2EF;
        height: 110%;
        width: 110%;
        border-radius: 50%;
        position: absolute;
        top: -5%;
        left: -5%;
        -webkit-filter: blur(40px);
                filter: blur(40px);
    }
.block--gap-paragraphs p {
            padding-bottom: 2rem;
        }
.list--no-bullets {
    list-style-type: none;
  }
.page {
    /*position*/
    position: relative;
    /*structure*/
    height: auto;
    width: 100vw;
    /*colors*/
    background-color: #C2D3C9;


}
.page::after {
    content: "";
    clear: both;
    display: table;
  }
.page--light {
      background-color: #F0F2EF;
    }
.page--full {
        height: 100vh;
        min-height: 30rem;
    }
.page--half-min {
      min-height: 50vh;
    }
.page--dark {

        background-color: #444444;
    }
.page--dark .page__foreground {
            color: #F0F2EF;
        }
.page__headline {
        text-align: center;
    }
.page__background {
        /*position*/
        position: absolute;
        /*structure*/
        height: 100%;
        width: 100%;
        overflow: hidden;
        /*colors*/

    }
.page__background__hero {
        display: block;
        margin: auto;
        width: 100vw;
    }
.page__background__hero img {
          width: 100vw;
        }
.page__foreground {
        /*position*/
        position: relative;
        /*structure*/
        padding-left: 2rem;
        padding-right: 2rem;
        padding-top: 5rem;
        padding-bottom: 5rem;
    }
.page__foreground--glow::before {
        content: "";
        z-index: -1;
        background-color: #F0F2EF;
        height: 110%;
        width: 110%;
        border-radius: 50%;
        position: absolute;
        top: -5%;
        left: -5%;
        -webkit-filter: blur(40px);
                filter: blur(40px);
    }
.navigation {
    /*position*/
    position: absolute;
    top: 10px;
    right: 2rem;
    /*structue*/
    height: auto;

}
.navigation__skip {
        position: absolute;
        text-indent: -100vw;
        font-weight: 600;
        line-height: 1.4;
        font-size: 1.2rem;
    }
.navigation__skip:focus {
            text-indent: 0;
            top: 50%;
            left: -5rem;
            -webkit-transform: translate(-100%, -50%);
                    transform: translate(-100%, -50%);
        }
.navigation__menu {
        /*position*/
        position: relative;
        float: right;
        /*structure*/
        width: auto;
        height: auto;
    }
.navigation__menu li {
            position: relative;
            display: inline-block;
        }
.navigation__menu a {
            /*position*/
            position: relative;
            /*display*/
            display: block;
            /*structure*/
            padding-left: 2rem;
            padding-right: 2rem;
            padding-top: 1rem;
            padding-bottom: 1rem;
            /*decoration*/
            text-decoration: none;
            /*typography*/
            font-size: 1.1rem;
            font-weight: 400;
            /*transitions*/
            transition-property: color;
            transition-duration: 100ms;
        }
.navigation__menu a::after {
            /*content*/
            content: "";
            /*display*/
            display: block;
            /*position*/
            position: absolute;
            left: 50%;
            -webkit-transform: translateX(-50%);
                    transform: translateX(-50%);
            bottom: 8px;
            /*structure*/
            height: 1px;
            width: 1px;
            border-radius: 50%;
            /*colors*/
            background-color: #CC4A1C;
            opacity: 0;
            /*transitions*/
            transition-property: all;
            transition-duration: 100ms;
        }
.navigation__menu a:hover,
        .navigation__menu a:focus{
            font-weight: 700;
            color: #CC4A1C;
        }
.navigation__menu a:hover::after,
        .navigation__menu a:focus::after {
            /*structure*/
            -webkit-transform: scale(10);
                    transform: scale(10);
            /*colors*/
            opacity: 1;
        }
.navigation__menu a.is-active {
            /*typography*/
            font-weight: 700;
        }
.navigation__menu a.is-active:hover,
            .navigation__menu a.is-active:focus {
                color: #8CAF98;
            }
.navigation__menu a.is-active::after {
                /*structure*/
                -webkit-transform: scale(10);
                        transform: scale(10);
                /*colors*/
                background-color: #8CAF98;
                opacity: 1;
            }
/*Do not edit modules/__icon directly as it is generated automatically by Gulp.
Instead, edit gulp/templates/sprite
Thanks!*/
.icon {
        background-image: url('/assets/images/sprites/sprite-d98fb9c1.svg');
        background-repeat: no-repeat;
    }
.has-no-svg .icon {
        background-image: url('/assets/images/sprites/sprite-d98fb9c1.png');
    }
.has-cssmask.has-svg .icon--change-color {
      background-image: none;
      -webkit-mask-image: url('/assets/images/sprites/sprite-d98fb9c1.svg');
      mask-image: url('/assets/images/sprites/sprite-d98fb9c1.svg');

    }
.has-cssmask.has-svg .icon--change-color--link {
        background-color: #445E3B;
      }
.has-cssmask.has-svg .icon--change-color--link:hover {
        background-color: #CC4A1C;
      }
.has-cssmask.has-svg .icon--change-color--neutral {
          background-color: #222222;
      }
.has-cssmask.has-svg .icon--change-color--annoyed {
          background-color: pink;
      }
.has-cssmask.has-svg .icon--change-color--angry {
          background-color: hotpink;
      }
.has-no-cssmask .icon--change-color--link, .has-no-svg .icon--change-color--link {
        -webkit-filter: sepia(100%) hue-rotate(60deg) saturate(1);
                filter: sepia(100%) hue-rotate(60deg) saturate(1);
      }
.has-no-cssmask .icon--change-color--link:hover, .has-no-svg .icon--change-color--link:hover {
        -webkit-filter: sepia(100%) hue-rotate(0deg) saturate(5);
                filter: sepia(100%) hue-rotate(0deg) saturate(5);
      }
.has-no-cssmask .icon--change-color--neutral, .has-no-svg .icon--change-color--neutral {
          /* filter: sepia(100%) hue-rotate(0) saturate(0); */
      }
.has-no-cssmask .icon--change-color--annoyed, .has-no-svg .icon--change-color--annoyed {
          -webkit-filter: sepia(100%) hue-rotate(300deg) saturate(3);
                  filter: sepia(100%) hue-rotate(300deg) saturate(3);
      }
.has-no-cssmask .icon--change-color--angry, .has-no-svg .icon--change-color--angry {
          -webkit-filter: sepia(100%) hue-rotate(300deg) saturate(10);
                  filter: sepia(100%) hue-rotate(300deg) saturate(10);
      }
.icon--icon-alert-00 {
        width: 102px;
        height: 102px;
        background-position: 0 0;
    }
.has-cssmask.has-svg .icon--change-color.icon--icon-alert-00 {
        /* width: 102px; */
        /* height: 102px; */
        -webkit-mask-position: 0 0;
                mask-position: 0 0;
    }
.icon--icon-close-00 {
        width: 102px;
        height: 102px;
        background-position: 50% 0;
    }
.has-cssmask.has-svg .icon--change-color.icon--icon-close-00 {
        /* width: 102px; */
        /* height: 102px; */
        -webkit-mask-position: 50% 0;
                mask-position: 50% 0;
    }
.icon--icon-menu-00 {
        width: 102px;
        height: 102px;
        background-position: 0 50%;
    }
.has-cssmask.has-svg .icon--change-color.icon--icon-menu-00 {
        /* width: 102px; */
        /* height: 102px; */
        -webkit-mask-position: 0 50%;
                mask-position: 0 50%;
    }
.icon--icon-social-facebook-00 {
        width: 102px;
        height: 102px;
        background-position: 50% 50%;
    }
.has-cssmask.has-svg .icon--change-color.icon--icon-social-facebook-00 {
        /* width: 102px; */
        /* height: 102px; */
        -webkit-mask-position: 50% 50%;
                mask-position: 50% 50%;
    }
.icon--icon-social-pinterest-00 {
        width: 102px;
        height: 102px;
        background-position: 100% 0;
    }
.has-cssmask.has-svg .icon--change-color.icon--icon-social-pinterest-00 {
        /* width: 102px; */
        /* height: 102px; */
        -webkit-mask-position: 100% 0;
                mask-position: 100% 0;
    }
.icon--icon-social-twitter-00 {
        width: 102px;
        height: 102px;
        background-position: 100% 50%;
    }
.has-cssmask.has-svg .icon--change-color.icon--icon-social-twitter-00 {
        /* width: 102px; */
        /* height: 102px; */
        -webkit-mask-position: 100% 50%;
                mask-position: 100% 50%;
    }
.icon--icon-social-youtube-00 {
        width: 102px;
        height: 102px;
        background-position: 0 100%;
    }
.has-cssmask.has-svg .icon--change-color.icon--icon-social-youtube-00 {
        /* width: 102px; */
        /* height: 102px; */
        -webkit-mask-position: 0 100%;
                mask-position: 0 100%;
    }
.icon--icon-unsplash-00 {
        width: 102px;
        height: 102px;
        background-position: 50% 100%;
    }
.has-cssmask.has-svg .icon--change-color.icon--icon-unsplash-00 {
        /* width: 102px; */
        /* height: 102px; */
        -webkit-mask-position: 50% 100%;
                mask-position: 50% 100%;
    }
/*double underscore: this file is generated--find template file to edit*/
.banner {
    /*position*/
    position: fixed;
    z-index: 500;
    /*structure*/
    height: 3.5rem;
    width: 100vw;
    /*style*/

    /*transitions*/
    transition-property: all;
    transition-duration: 1000ms;

}
.banner--travel {
        /* height: $strucBannerMinHeight; */
        background-color: rgba(240,242,239, .95);
    }
.banner__logo {
        /*display*/
        display: inline-block;
        /*position*/
        position: relative;
        margin-left: 1.3rem;
        margin-top: 1rem;
        /*structure*/
        -webkit-transform: scale(.55);
                transform: scale(.55);
        -webkit-transform-origin: 0 0;
                transform-origin: 0 0;
        /*transitions*/
        transition-propety: all;
        transition-duration: 1000ms;
    }
.banner--travel .banner__logo {
            margin-top: .5rem;
            -webkit-transform: scale(.40);
                    transform: scale(.40);
        }
.headline--oversized {
        font-size: 3rem;
    }
.headline--bottom-padding {
        padding-bottom: 2rem;
    }
.headline--centered {
        text-align: center;
    }
.column {
    /* &--no-end-padding {
        padding-right: 0;
    } */
}
.column--2-4 {
        float: left;
        width: 50%;
        padding-right: 5rem;
        padding-left: 5rem;
    }
.add-parallax {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);

}
.credit {
  z-index: 30;
  display: inline-block;
  position: absolute;
  bottom: .5rem;
  right: 2rem;





}
.credit__link--dark {
      color: #151F20;
      text-shadow: 0 0 2px #ffffff;
    }
.credit__link--light {
      color: #F0F2EF;
      text-shadow: 0 0 2px #151F20;
    }
.credit__icon {
    z-index: 5;
  /* diplay: inline-block; */
    position: absolute;
    left: 100%;
    transition-property: -webkit-filter;
    transition-property: filter;
    transition-property: filter, -webkit-filter;
    transition-duration: 500ms;
    -webkit-filter: invert(.7);
            filter: invert(.7);

  }
a:hover .credit__icon {
      -webkit-filter: invert(0);
              filter: invert(0);
    }
a:hover .credit__icon--light-on-hover {
      -webkit-filter: invert(1);
              filter: invert(1);
    }
.credit__icon--shrink {
    -webkit-transform-origin: top left;
            transform-origin: top left;
    -webkit-transform: scale(.2);
            transform: scale(.2);
  }
.credit__title {
    z-index: -1;
    font-size: .8rem;
    line-height: 1.5;
    padding-right: .6rem;
    position: relative;
    opacity: 0;

    left: .6rem;
    /* top: 300%; */
    transition-property: all;
    transition-duration: 500ms;

  }
a:hover .credit__title {
      left: 0;
      text-indent: 0;
      opacity: 1;
    }
