.credit {
  z-index: 30;
  display: inline-block;
  position: absolute;
  bottom: .5rem;
  right: 2rem;

  &__link {

    &--dark {
      color: $colorOffBlack;
      text-shadow: 0 0 2px #ffffff;
    }

    &--light {
      color: $colorOffWhite;
      text-shadow: 0 0 2px $colorOffBlack;
    }
  }

  &__icon {
    z-index: 5;
  /* diplay: inline-block; */
    position: absolute;
    left: 100%;
    transition-property: filter;
    transition-duration: 500ms;
    filter: invert(.7);

    a:hover & {
      filter: invert(0);
    }

    a:hover &--light-on-hover {
      filter: invert(1);
    }

  }
  &__icon--shrink {
    transform-origin: top left;
    transform: scale(.2);
  }

  &__title {
    z-index: -1;
    font-size: .8rem;
    line-height: 1.5;
    padding-right: .6rem;
    position: relative;
    opacity: 0;

    left: .6rem;
    /* top: 300%; */
    transition-property: all;
    transition-duration: 500ms;

    a:hover & {
      left: 0;
      text-indent: 0;
      opacity: 1;
    }

  }





}
